  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #2c2c54;
}
body{
    
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
    background-color: rgb(240, 240, 240);
}
form{
    background-color:white ;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;

}
form label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}
form input,textarea{
    border: none;
    background-color: #c9f1ff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
button{
    background-color: #0fbcf9;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #0da5dc;
}
.success-text{
    color: rgb(3, 204, 0);
}
.error-text{
    color: rgb(204, 0, 0);
}